.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

 .section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sheet {
    display: flex;
    flex-direction: column;
    align-items: center;

    .slider-container {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px;
  
 .slider-images {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

  .slider-images:hover img:nth-child(1) {
    opacity: 0;
  }
  
  .slider-images:hover img:nth-child(2) {
    opacity: 1;
  }
  
  .information {
    display: flex;
    align-items: center;
  }
  
  .book-info {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 10px; /* Измените отступ сверху по вашему усмотрению */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .clearfix.sheet.sheet-1 {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    gap: 15%; /* Расстояние между элементами */
  }
  
  .slider-container {
    flex: 1; /* Занимает всю доступную ширину в первой колонке */
  }
  
 .information {
      width: 100%;
      max-width: 500px;
      text-align: center;

      .book-info {
        button {
          margin-top: 20px;
        }
      }
    }
  }
}

  
  .slider-images {
    display: flex;
    flex-direction: column; /* Устанавливаем столбцовую ориентацию для картинок */
    margin-left: 5%;
    box-sizing: border-box;
    max-width: 75%;
  margin: 0 auto;
  }
  
  .slider-images img {
    margin-bottom: 10px; /* Отступ между картинками */
  }

  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  section {
    width: 75%;
    margin: 0 auto; /* Центрирование блока по горизонтали */
  }
  .content-container::before {
    content: "";
    display: block;
    height: 10vh; /* Высота блока равна 100% высоты окна просмотра */
  }

@media (min-width: 768px) {
  .section-1 {
    .sheet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .slider-container {
        margin-bottom: 0;
        margin-right: 20px;
      }

      .information {
        text-align: left;
      }
    }
  }
}
